<a href="https://colab.research.google.com/github/sohels984/sohels984/blob/main/crime_against_women_20012014_india.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/crime-against-women-20012014-india/crimes_against_women_2001-2014.csv

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/kaggle/input/crime-against-women-20012014-india/crimes_against_women_2001-2014.csv")

In [ ]:
df.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10677 entries, 0 to 10676
Data columns (total 11 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           10677 non-null  int64
 1   STATE/UT                                             10677 non-null  object
 2   DISTRICT                                             10677 non-null  object
 3   Year                                                 10677 non-null  int64
 4   Rape                                                 10677 non-null  int64
 5   Kidnapping and Abduction                             10677 non-null  int64
 6   Dowry Deaths                                         10677 non-null  int64
 7   Assault on women with intent to outrage her modesty  10677 non-null  int64
 8   Insult to modesty of Women                           10677 non-null  int64
 9   Cruelty by Husband or his Relatives                  10677 non-null  int64
 10  Importation of Girls                                 10677 non-null  int64
dtypes: int64(9), object(2)
memory usage: 917.7+ KB

In [ ]:
df.describe()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
count,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000
mean,3871.570198,2007.697949,57.989885,69.888358,20.181699,113.539196,27.419313,209.224314,0.175330
std,2816.369918,4.046874,214.230398,311.623450,98.276531,458.903951,167.806797,905.664362,2.228637
min,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1009.000000,2004.000000,8.000000,6.000000,1.000000,10.000000,0.000000,11.000000,0.000000
50%,3678.000000,2008.000000,22.000000,20.000000,5.000000,34.000000,2.000000,50.000000,0.000000
75%,6347.000000,2011.000000,44.000000,49.000000,16.000000,85.000000,12.000000,144.000000,0.000000
max,9016.000000,2014.000000,5076.000000,10626.000000,2469.000000,10001.000000,4970.000000,23278.000000,83.000000

In [ ]:
df.isna().sum()

Unnamed: 0                                             0
STATE/UT                                               0
DISTRICT                                               0
Year                                                   0
Rape                                                   0
Kidnapping and Abduction                               0
Dowry Deaths                                           0
Assault on women with intent to outrage her modesty    0
Insult to modesty of Women                             0
Cruelty by Husband or his Relatives                    0
Importation of Girls                                   0
dtype: int64

In [ ]:
df['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY',
       'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'A&N Islands', 'Chandigarh', 'D&N Haveli',
       'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry',
       'Telangana', 'A & N Islands'], dtype=object)

In [ ]:
df["STATE/UT"]=df["STATE/UT"].replace({'A & N ISLANDS':'A&N Islands','A & N Islands':'A&N Islands'})

In [ ]:
df['STATE/UT'] = df['STATE/UT'].str.upper()

In [ ]:
df['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A&N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY', 'D&N HAVELI',
       'DELHI UT', 'TELANGANA'], dtype=object)

In [ ]:
df["STATE/UT"]=df["STATE/UT"].replace({'D & N HAVELI':'D&N HAVELI','DELHI UT':'DELHI'})

In [ ]:
df['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A&N ISLANDS', 'CHANDIGARH', 'D&N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY', 'TELANGANA'],
      dtype=object)

# Lets start with question:::

In [ ]:
df.columns

Index(['Unnamed: 0', 'STATE/UT', 'DISTRICT', 'Year', 'Rape',
       'Kidnapping and Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [ ]:
a=df.groupby("Year")['Rape'].sum()
a

Year
2001    32150
2002    32746
2003    31694
2004    36466
2005    36718
2006    38696
2007    41474
2008    42934
2009    42794
2010    44344
2011    48412
2012    49846
2013    67414
2014    73470
Name: Rape, dtype: int64

In [ ]:
a=pd.DataFrame(a)
a

       Rape
Year
2001  32150
2002  32746
2003  31694
2004  36466
2005  36718
2006  38696
2007  41474
2008  42934
2009  42794
2010  44344
2011  48412
2012  49846
2013  67414
2014  73470

In [ ]:
hrrc=a["Rape"].nlargest(10)
hrrc=pd.DataFrame(hrrc)

In [ ]:
## Ans1:- A Dataset containing the 10 highest reported rape cases in India, in the span of years 2001-2014.
hrrc.reset_index()
hrrc

       Rape
Year
2014  73470
2013  67414
2012  49846
2011  48412
2010  44344
2008  42934
2009  42794
2007  41474
2006  38696
2005  36718

In [ ]:
b=df.groupby("Year")['Dowry Deaths'].sum()
b

Year
2001    13702
2002    13644
2003    12416
2004    14052
2005    13574
2006    15236
2007    16186
2008    16344
2009    16766
2010    16782
2011    17236
2012    16466
2013    16166
2014    16910
Name: Dowry Deaths, dtype: int64

In [ ]:
b=pd.DataFrame(b)
b

      Dowry Deaths
Year
2001         13702
2002         13644
2003         12416
2004         14052
2005         13574
2006         15236
2007         16186
2008         16344
2009         16766
2010         16782
2011         17236
2012         16466
2013         16166
2014         16910

In [ ]:
hrdc=b["Dowry Deaths"].nlargest(10)
hrdc

Year
2011    17236
2014    16910
2010    16782
2009    16766
2012    16466
2008    16344
2007    16186
2013    16166
2006    15236
2004    14052
Name: Dowry Deaths, dtype: int64

In [ ]:
## A Dataset containing the 10 highest reported deaths caused by Dowry cases in India, in the span of years 2001-2014.
hrdc=pd.DataFrame(hrdc)

hrdc

      Dowry Deaths
Year
2011         17236
2014         16910
2010         16782
2009         16766
2012         16466
2008         16344
2007         16186
2013         16166
2006         15236
2004         14052

In [ ]:
c=df.groupby("Year")['Cruelty by Husband or his Relatives'].sum()
c=pd.DataFrame(c)
c

      Cruelty by Husband or his Relatives
Year
2001                                98340
2002                                98474
2003                               101406
2004                               116242
2005                               116638
2006                               126256
2007                               151860
2008                               162688
2009                               179092
2010                               188082
2011                               198270
2012                               213054
2013                               237732
2014                               245754

In [ ]:
hdvc=c["Cruelty by Husband or his Relatives"].nlargest(10)
hdvc

Year
2014    245754
2013    237732
2012    213054
2011    198270
2010    188082
2009    179092
2008    162688
2007    151860
2006    126256
2005    116638
Name: Cruelty by Husband or his Relatives, dtype: int64

In [ ]:
## A Dataset containing the 10 highest reported Importation cases in India, in the span of years 2001-2014.
hdvc=pd.DataFrame(hdvc)
hdvc

      Cruelty by Husband or his Relatives
Year
2014                               245754
2013                               237732
2012                               213054
2011                               198270
2010                               188082
2009                               179092
2008                               162688
2007                               151860
2006                               126256
2005                               116638

In [ ]:
df.columns

Index(['Unnamed: 0', 'STATE/UT', 'DISTRICT', 'Year', 'Rape',
       'Kidnapping and Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [ ]:
df['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A&N ISLANDS', 'CHANDIGARH', 'D&N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY', 'TELANGANA'],
      dtype=object)

In [ ]:
## The total number of cases, in the span of 2001-2014 under each category, state-wise.
df.groupby("STATE/UT").sum()

/tmp/ipykernel_32/930693849.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("STATE/UT").sum()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
STATE/UT,,,,,,,,,
A&N ISLANDS,181575,88347,336,212,20,600,112,288,0
ANDHRA PRADESH,1547523,853205,32150,34504,13844,126952,86964,280906,34
ARUNACHAL PRADESH,832793,469844,1316,1470,6,1996,48,476,0
ASSAM,1531069,851246,40190,62074,3268,38256,254,115300,22
BIHAR,2242174,1268753,30758,57086,32206,16958,694,69770,904
CHANDIGARH,117458,56210,770,1682,90,1088,342,2080,0
CHHATTISGARH,1168746,650581,29308,11808,2758,47096,3968,23436,12
D&N HAVELI,117514,56210,132,224,2,106,12,90,0
DAMAN & DIU,176376,84315,60,44,6,40,4,76,0
DELHI,968482,445800,20312,46586,3758,30742,7928,42834,2
GOA,151597,86329,1062,640,38,1384,468,532,0
GUJARAT,1664186,925590,11644,34670,1108,23186,3230,146468,0
HARYANA,1171953,638456,17110,20016,7372,17142,17866,68414,4
HIMACHAL PRADESH,778344,417608,4674,4116,112,9256,1220,7796,0
JAMMU & KASHMIR,1458729,771023,7038,21164,294,28638,9168,5390,0
JHARKHAND,1380975,734793,22826,14186,7896,9898,566,23910,298
KARNATAKA,1790959,947638,15056,16262,7016,65750,2276,72706,94
KERALA,1051866,554128,20030,4452,700,80438,7930,111626,0
LAKSHADWEEP,118098,56210,20,2,0,14,4,14,0
MADHYA PRADESH,2843330,1483646,90996,35608,21090,195478,20964,102816,134
MAHARASHTRA,2486797,1294844,48974,30368,9696,114704,32634,193202,6
MANIPUR,580834,295127,1068,2606,6,1322,6,578,0
MEGHALAYA,440412,240948,2642,670,36,1470,124,460,8
MIZORAM,493797,258985,2070,30,8,1988,70,134,6
NAGALAND,644745,325239,562,190,2,260,24,32,2
ODISHA,2004922,1011829,30480,25588,10782,80214,7488,49206,36
PUDUCHERRY,166421,74300,208,306,56,1314,600,234,0
PUNJAB,1497068,746875,14656,15096,3524,12410,1728,30840,4
RAJASTHAN,2228864,1086259,45684,66278,11854,83362,794,262200,14
SIKKIM,282531,142539,570,180,4,586,34,108,0
TAMIL NADU,2242710,1108202,16660,30908,5060,43404,21170,45524,30
TELANGANA,9261,28196,1958,1422,578,6376,2284,12738,0
TRIPURA,351423,174741,5060,2202,752,7344,114,16086,0
UTTAR PRADESH,4265386,2071847,51150,135906,57256,91212,53130,193738,6
UTTARAKHAND,814842,393470,3752,6484,1974,4366,3190,9756,2
WEST BENGAL,1532995,742858,47876,61158,12308,66908,5348,344124,254

In [ ]:
## The top 5 states for the "Rape" case.
d=df.groupby("STATE/UT")['Rape'].sum()
d=pd.DataFrame(d)
swr=d['Rape'].nlargest(5)
swr

STATE/UT
MADHYA PRADESH    90996
UTTAR PRADESH     51150
MAHARASHTRA       48974
WEST BENGAL       47876
RAJASTHAN         45684
Name: Rape, dtype: int64

In [ ]:
## The top 5 states for Kidnapping and abduction case.
e=df.groupby("STATE/UT")['Kidnapping and Abduction'].sum()
e=pd.DataFrame(e)
swk=e['Kidnapping and Abduction'].nlargest(5)
swk

STATE/UT
UTTAR PRADESH    135906
RAJASTHAN         66278
ASSAM             62074
WEST BENGAL       61158
BIHAR             57086
Name: Kidnapping and Abduction, dtype: int64

In [ ]:
## The top 5 states for cases of deaths due to dowry.
f=df.groupby("STATE/UT")['Dowry Deaths'].sum()
f=pd.DataFrame(f)
swd=f['Dowry Deaths'].nlargest(5)
swd

STATE/UT
UTTAR PRADESH     57256
BIHAR             32206
MADHYA PRADESH    21090
ANDHRA PRADESH    13844
WEST BENGAL       12308
Name: Dowry Deaths, dtype: int64

In [ ]:
## The top 5 states for Domestic Violence case.
g=df.groupby("STATE/UT")['Cruelty by Husband or his Relatives'].sum()
g=pd.DataFrame(g)
swc=g['Cruelty by Husband or his Relatives'].nlargest(5)
swc

STATE/UT
WEST BENGAL       344124
ANDHRA PRADESH    280906
RAJASTHAN         262200
UTTAR PRADESH     193738
MAHARASHTRA       193202
Name: Cruelty by Husband or his Relatives, dtype: int64

In [ ]:
## The top 5 states for the Importation of Girls case.
h=df.groupby("STATE/UT")['Importation of Girls'].sum()
h=pd.DataFrame(h)
swi=h['Importation of Girls'].nlargest(5)
swi

STATE/UT
BIHAR             904
JHARKHAND         298
WEST BENGAL       254
MADHYA PRADESH    134
KARNATAKA          94
Name: Importation of Girls, dtype: int64

In [ ]:
max_rape_cases = df.loc[df['Rape'] == df['Rape'].max(), 'STATE/UT']
max_rape_cases

10244    MADHYA PRADESH
Name: STATE/UT, dtype: object

In [ ]:
max_importation_cases = df.loc[df['Importation of Girls'] == df['Importation of Girls'].max(), 'STATE/UT']
max_importation_cases

115    BIHAR
Name: STATE/UT, dtype: object

# Which state has featured in both the lists of "Maximum number of rape cases" and "Maximum number of Importation cases".
# Answer:- There is no state that appears in both the lists of "Maximum number of rape cases" and "Maximum number of Importation cases" in our dataframe.

In [ ]:
max_Dowry_Deaths = df.loc[df['Dowry Deaths'] == df['Dowry Deaths'].max(), 'STATE/UT']
max_Dowry_Deaths

10595    UTTAR PRADESH
Name: STATE/UT, dtype: object

# Which state has featured in both the lists of "Maximum number of rape cases" and "Maximum number of Deaths due to Dowry cases".
# Answer:- There is no state that appears in both the lists of "Maximum number of rape cases" and "Maximum number of Deaths due to Dowry" in our dataframe.